default_stages: [ commit ]

# Install
# 1. pip3 install -r requirements.txt
# 2. pre-commit install
# 3. pre-commit run --all-files  # make sure all files are clean
repos:
  - repo: ssh://git@github.com/pycqa/isort.git
    rev: 5.11.5
    hooks:
      - id: isort
        args: [ '--profile', 'black' ]
        exclude: >-
          (?x)^(
          .*__init__\.py$
          )

  - repo: ssh://git@github.com/astral-sh/ruff-pre-commit.git
    # Ruff version.
    rev: v0.0.284
    hooks:
      - id: ruff
        args: [ --fix, --line-length=150, --extend-ignore, E501, --extend-ignore, E722]

  - repo: ssh://git@github.com/psf/black.git
    rev: 23.3.0
    hooks:
      - id: black
        args: [ '--line-length', '150' ]
