# Deep Learning Frameworks
torch==2.5.1
torchvision==0.20.1
tensorflow
# tensorflow-gpu==2.9.1
# keras==2.9.0
# tf_keras==2.15.0
tf_slim
transformers
modelscope

# Computer Vision
opencv-python
ultralytics

# Visualization
matplotlib

# UI Automation
uiautomator2
pynput
pyautogui
pywinauto

# Utils
loguru
pre-commit
tenacity
aiohttp
pandas
pyclipper
shapely